main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}

.about-container {
    display: flex;
    color: #423f32;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.image-container {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headshot {
    object-fit: cover;
    border: solid rgb(66, 63, 50, 0.5) 20px;
}

.about-me {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
}

/*! Media Queries */

@media screen and (max-width: 768px) {

    main {
        height: auto;
    }

    .about-container {
        margin: 0;
    }

    .image-container {
        width: 300px;
        height: 300px;
        align-items: flex-end;
    }

    .headshot {
        height: 250px;
        width: 250px;
    }

    .about-me {
        width: 350px;
        justify-content: flex-start;
    }
}