body {
  color: #cdcfc0;
}

body>header {
  position: fixed;
  top: 0;
}

body>footer {
  position: fixed;
  bottom: 0;
}

/* ! Homepage background image */
.background {
  background-image: url("../../public/portfolio-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgb(66, 63, 50);
  overflow: hidden;
}

/* ! Homepage navbar and footer links */
.home-link {
  text-decoration: none;
}

.home-link:visited {
  text-decoration: none;
  color: rgb(205, 207, 192);
}

.home-link:hover {
  text-decoration: none;
}

.home-link:active {
  text-decoration: underline;
}

/* ! About me background img */
#about-bg {
  background-image: url("../../public/about-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #c8c2a7;
}

/* ! Nav and footer links for rest of site */

.all-bg {
  background-image: url("../../public/all-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #c8c2a7;
}


a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #423f32;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

/* ! Background for rest of pages */

#general-bg {
  background-color: #c8c2a7;
}


/* ! Media Queries */

@media screen and (min-width: 700px) {
  .home-title {
    margin: 5px;
    font-size: 70px;
    letter-spacing: 10px;
  }

  .home-subtitle {
    margin: 5px;
    font-size: 30px;
    letter-spacing: 10px;
  }
}

@media screen and (min-width: 1080px) {
  
  .about-container {
    align-content: center;
  }
}

@media screen and (max-width: 699px) {
  .title-container {
    padding-bottom: 100px;
  }

  .home-title {
    margin: 5px;
    font-size: 45px;
    letter-spacing: 8px;
  }

  .home-subtitle {
    margin: 5px;
    font-size: 15px;
    letter-spacing: 8px;
  }

  .headshot {
    max-width: 325px;
    max-height: 225px;
  }

  .about-me h1,
  .about-me h3,
  .about-me p {
    text-align: center;
  }

  .about-me h1 {
    font-size: 25px;
  }

  .about-me h3 {
    font-size: 15px;
  }
}
