body {
  color: #cdcfc0;
}

body > header {
  position: fixed;
  top: 0;
}

body > footer {
  position: fixed;
  bottom: 0;
}

.background {
  background-image: url("../../public/portfolio-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #423f32;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(205, 207, 192);
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

.about-bg {
   background-image: url("../../public/about-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #cdcfc0;
}


