.MuiCard-root {
    width: 300px;
    height: 300px;
    background: #423f328e;
}


.MuiCardMedia-img {
    object-fit: cover;
    width: 400px;
    height: 225px;
    margin: 35px;
}

.MuiTypography-root>h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 5px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

.MuiTypography-root>p {
    font-size: 20px;
    font-family: 'Ysabeau Office', sans-serif;
    text-align: center;
    color: rgb(200, 194, 167);
}

.external-icons {
    display: flex;
    justify-content: center;
}

.external-icons>a {
    margin: 2px 10px;
}
